<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinson Disease Detection</title>
    <link rel="stylesheet" href="styles1.css">
</head>

<body>

    <div>

        <form action="{{url_for('predict')}}" method="post">
            <h2 style=" font-size: 300%;text-align: center; background-attachment: fixed;"> Parkinson Disease Detection </h2>

            <div class="row">
                <div class="column">
                    <h3 class="h3">MDVP: Fo(hz)</h3>
                    <input class="in" name="MDVP:Fo(Hz)" required="required">

                    <h3>MDVP: Fhi(hz)</h3>
                    <input class="in" name="MDVP:Fhi(Hz)" required="required">

                    <h3>MDVP: Flo(hz)</h3>
                    <input class="in" name="MDVP:Flo(Hz)" required="required">

                    <h3>MDVP: Jitter(%)</h3>
                    <input class="in" name="MDVP:Jitter(%)" required="required">

                    <h3>MDVP: Jitter(abs)</h3>
                    <input class="in" name="MDVP:Jitter(Abs)" required="required">

                    <h3>MDVP: RAP</h3>
                    <input class="in" name="MDVP:RAP" required="required">

                    <h3>MDVP: PPQ</h3>
                    <input class="in" name="MDVP:PPQ" required="required">


                    <h3>DFA</h3>
                    <input class="in" name="DFA" required="required">
                </div>
                <div class="column">
                    
                    <h3>MDVP: DDP</h3>
                    <input class="in" name="MDVP:DDP" required="required">

                    <h3>MDVP: Shimmer</h3>
                    <input class="in" name="MDVP:Shimmer" required="required">

                    <h3>MDVP: Shimmer(db)</h3>
                    <input class="in" name="MDVP:Shimmer(dB)" required="required">

                    <h3>Shimmer: APQ3</h3>
                    <input class="in" name="Shimmer:APQ3" required="required">

                    <h3>Shimmer: APQ5</h3>
                    <input class="in" name="Shimmer:APQ5" required="required">

                    <h3>MDVP: APQ</h3>
                    <input class="in" name="MDVP:APQ" required="required">

                    <h3>Shimmer: DDA</h3>
                    <input class="in" name="Shimmer:DDA" required="required">

                </div>
                <div class="column">
                   
                    <h3>NHR</h3>
                    <input class="in" name="NHR" required="required">

                    <h3>HNR</h3>
                    <input class="in" name="HNR" required="required">

                    <h3>RPDE</h3>
                    <input class="in" name="RPDE" required="required">

                    <h3>spread 1</h3>
                    <input class="in" name="spread1" required="required">

                    <h3>spread 2</h3>
                    <input class="in" name="spread2" required="required">

                    <h3>D 2</h3>
                    <input class="in" name="D2" required="required">

                    <h3>PPE</h3>
                    <input class="in" name="PPE" required="required">



                </div>
            </div>

        </form>

                    <button  class="button" id="sub" type="submit">
                        Predict
                    </button>
                    <br>
                    <br>
                    <br>
    </div>



</body>

</html>
